@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700";
/* Variables */
* {
  font-family: "Montserrat";
  font-weight: 600;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/background.svg);
  background-size: repeat;
}

section {
  overflow-x: hidden;
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

.hero {
  margin-bottom: 210px;
}
.hero img {
  max-width: 400px;
}
.hero .wrapper {
  margin-top: 10vh;
  padding-top: 20vh;
  color: #fff;
}
.hero .wrapper h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -2px;
  padding: 10px 30px;
}
.hero .wrapper h2 {
  margin-top: -15px;
  font-size: 28px;
  font-weight: 600;
  color: #fdc500;
}
.hero .wrapper h3 {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  max-width: 40%;
  margin: auto;
}
.hero .buttons {
  margin: 40px 0;
}
.hero .buttons a {
  border: 2px solid #fff;
  color: #fff;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease;
}
.hero .buttons a:hover {
  z-index: 10;
  color: #fdc500;
  border: 2px solid #fdc500;
  transition: all 200ms ease-in;
}
.hero .buttons a:not(:last-child) {
  margin-right: 10px;
}

.about {
  border-width: 15px 0;
  position: relative;
}
.about h1 {
  border-width: 15px 0;
  color: #fdc500;
  position: relative;
  font-weight: 600;
}
.about h2 {
  color: #fff;
}
.about p {
  text-align: left;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: -0.3px;
}
.about p span {
  font-weight: 700;
  text-transform: uppercase;
}
.about h3,
.about a {
  color: #fdc500;
}
.about img {
  max-width: 30vh;
  display: inline-block;
}

#team {
  background-image: url(../images/blobback.svg);
}

#speakers {
  background-image: url(../images/polyback.svg);
}
#speakers .item h1 {
  color: #fdc500;
}
#speakers .item h3, #speakers .item p {
  color: #fff;
}

.info {
  background-color: #fff;
  padding: 100px 0;
  border-bottom: 50px solid #011028;
  position: relative;
}
.info h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
  margin: 30px 0;
}
.info#team .item {
  min-width: fit-content;
}
.info#team .item h1 {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
  color: #fdc500;
  white-space: nowrap;
}
.info#team .item p {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
}
.info#team .item img {
  max-width: 12vw;
}
.info#judges .item {
  min-width: fit-content;
}
.info#judges .item h1 {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
  color: #011028;
  white-space: nowrap;
}
.info#judges .item p {
  font-weight: 500;
  font-size: 20px;
  color: #011028;
  white-space: nowrap;
}
.info .item {
  padding: 20px;
}
.info .item h1 {
  font-family: "Montserrat";
  font-size: 45px;
  font-weight: 700;
  margin: 20px 0;
}
.info .item img {
  max-width: 220px;
  max-height: 120px;
  margin-bottom: 25px;
}
.info .item p {
  font-size: 20px;
}

.preregister {
  margin-top: 30px;
}

.faq {
  background-color: #00296b;
  color: #fff;
  padding: 100px 0;
  position: relative;
}
.faq h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 100px;
  margin: 30px 0;
}
.faq .question h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
}
.faq .question p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.faq .question a {
  color: #fdc500;
}
.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

.navbar {
  color: #fff;
  min-height: 10vh;
}

.nav li {
  color: #fff;
  font-size: 20px;
}

.footer {
  background-color: #012053;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 3px;
}
.footer img {
  margin: 15px 0px;
  max-width: 40%;
  max-height: 10vh;
  display: inline-block;
}
.footer h3 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 15px;
  display: inline-block;
}
.footer h3 a {
  color: #fff;
}

@media (max-width: 768px) {
  .hero .buttons {
    margin: 10px 0px;
  }
  .hero .buttons a {
    border-width: 8px;
    display: block;
    font-size: 20px;
    margin: 5px;
  }
  .hero img {
    width: 250px;
  }
  .hero hr {
    border-top-width: 8px;
    top: -8px;
  }
}

/*# sourceMappingURL=original.css.map */
