---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="card mb-3" style="margin: 0px 7vw;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="images/programming.svg" class="card-img" style="max-width: 30vw;" alt="Programmer programming :D">
      </div>
      <div>
        <div class="card-body">
          <h3 class="card-title font-weight: 600; color: #fdc500;">Innovation in EdTech</h3>
          <p class="card-text">{{ site.event.about.description | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info">
  <a href="#info"></a>
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="info">
  <a href="#sponsors"></a>
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="info">
  <a href="#robocs"></a>
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="faq" style="margin-top: 0px;">	
  <a href="#faq"></a>
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>