<section class="hero">
  <div class="wrapper text-center">
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="date">{{ site.event.date }}</h2>
    <h3 rel="description">{{ site.event.description }}</h3>
    
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a class="hvr-sweep-to-right" href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply hvr-sweep-to-right" href="https://my.mlh.io/oauth/authorize?client_id=Wl3FeVRoxV2VgP-EyhrrXvJK75Pq3zdkOYPqe21bDzQ&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
