<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}
    <nav class="navbar navbar-expand-md" style="position: fixed; z-index: 1000; width: 100%; background-color: #00509D; height: 10vh;" ">
      <!--Navbar logo-->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="../mlh-hackathon-boilerplate/images/robohackitlogotrans.svg" style="max-height: 7vh;" alt="ROBOHackIT 2022"></a>
      </div>
      <!--Navbar toggler-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse-target">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="#acts" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#sponsors" class="nav-link">Sponsors</a></li>
          <li class="nav-item"><a href="#team" class="nav-link">Robinson CS Club</a></li>
          <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li>
        </ul>
      </div>
    </nav>
    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <a href="#"><img src="../mlh-hackathon-boilerplate/images/robohackitlogo.svg"></a>
        <h3>&copy; 2022 {{ site.event.name }}. With ♥️ from the Robinson CS Club.</h3>
      </div>
    </section>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
