<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}
    <nav class="navbar navbar-light navbar-expand-sm navbar-default" style="background-color: #00509D;" ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="../mlh-hackathon-boilerplate/images/robohackslogo.png" height="50" alt="ROBOHacks 2022"></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Sponsors</a></li>
        </ul>
      </div>
    </nav>
    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <a href="#"><img src="../mlh-hackathon-boilerplate/images/robohackslogo.png"></a>
        <h3>&copy; 2022 {{ site.event.name }}. With thanks to <a href="https://github.com/nlaz">Niko Lazaris</a>.</h3>
      </div>
    </section>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
